.containerAbout{
    width: 90%;
    margin: 0% 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
}

.title-text{
    font-weight: 600;
    color: #e2001a;
    margin-bottom: 2.2rem;
}

.text-part{
    width: 50%;
    font-family: 'Open Sans',sans-serif;
    font-size: 1.2rem;
}

.btn-style{
    font-size: 1rem;
    padding: 1% 0.9%;
    border-radius: 15px;
    border: 1px #4daa25 solid;
    background-color: #4daa25;
    color: white;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.imgAbout {
    width: 100%;
    height: 100%;
}

.textSizeAbout{
    font-size: 1.9rem;
}

@media screen and (max-width:1023px){
    .containerAbout{
        flex-direction: column-reverse;
        min-height: 150vh;
    }
    .text-part{
        width: 100%;
    }
}