header{
    position: absolute;
    top: 0; left: 0; right: 0;
    background: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo1 {
    font-weight: bolder;
    font-size: 25px;
    color: #333;
}

header .navbar1 ul{
    list-style: none;
}

header .navbar1 ul li{
    position: relative;
    float: left;
}

header .navbar1 ul li a{
    font-size: 1.5rem;
    padding: 1rem;
    color: #333;
    display: block;
}

header .navbar1 ul li a:hover{
    background: #333;
    color: #fff;
}

header .navbar1 ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background-color: #fff;
    display: none;
}

header .navbar1 ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

header .navbar1 ul li:focus-within > ul,
header .navbar1 ul li:hover > ul{
    display: initial;
}

#menu-bar{
    display: none;
}

header label{
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}



@media(max-width:991px){
    header{
        padding: 20px;
    }

    header label {
        display: initial;
    }

    header .navbar1{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #fff;
        border-top: 1px solid rgba(0, 0, 0, .1);
        display: none;
    }

    header .navbar1 ul li{
        width: 100%;
    }

    header .navbar1 ul li ul{
        position: relative;
        width: 100%;
    }

    header .navbar1 ul li ul li{
        background-color: #eee;
    }

    #menu-bar:checked ~ .navbar1{
        display: initial;
    }

}